{% extends 'main.html' %}

{% block title %}User Account Registration{% endblock %}

{% block content %}

<div class="container py-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in register_form %}
        <p>{{ field.label }} {{ field }}</p>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <p>Already have an account? <a href="{% url 'login' %}">login</a> instead.</p>
</div>

{% endblock %}